body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    color: antiquewhite;
  background-color: #0e0e0e;
}

#button-container{
  display: flex;
}

#url-input{
  width: 70vw;
  flex: 1;
  padding-bottom: 5px;
  /* padding-top: 5px; */
  background-color: #0a0a0a;
  color:antiquewhite;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 3%;
}

button{
  cursor: pointer;
  background-color: blanchedalmond;
  color: #0a0a0a;
  border-radius: 5%;
}

webview{
  height: 100vh;
}

h1{
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#title-div{
  display: flex;
  justify-content: center;
  width: 100%;
}
#title{
  padding-top: 5px;
}

#link-button-container {
  display: flex;
  justify-content: space-evenly; /* Keeps equal spacing between buttons */
  width: 66vw; /* 66% of the viewport width */
}

@link-button {
  flex-grow: 1; /* Allows each button to grow equally */
  margin: 0 5px; /* Optional: Adjusts spacing between buttons */
  padding: 10px; /* Optional: Adjusts padding for button size */
}

@media(max-width:800px){
  #go{
    display:none;
  }
}