body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    color: antiquewhite;
  background-color: #0e0e0e;
}

#button-container{
  display: flex;
}

#url-input{
  width: 60vw;
  height: 30px;
  flex: 1;
  padding-bottom: 5px;
  /* padding-top: 5px; */
  background-color: #0a0a0a;
  color:antiquewhite;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 3%;
}

button{
  cursor: pointer;
  background-color: blanchedalmond;
  color: #0a0a0a;
  border-radius: 5%;
}

webview{
  height: 100vh;
}

h1{
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#site-tools{
  display: flex;
  justify-content: space-between;
  
}


#link-button-container {
  display: flex;
  justify-content: space-between;
  width: 60vw; /* Reduce width to give more room for the title */
}

button {
  flex-grow: 1;
  /* margin: 0 5px; */
  padding: 10px;
  width: 90%;
}

#title-div {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30vw; /* Ensure this width is flexible and allows space for the title */
}

h1#title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem; /* Adjust font size to fit within a single line */
  white-space: nowrap; /* Prevent title from wrapping to the next line */
}


@media(max-width:800px){
  #go{
    display:none;
  }
}